<div [formGroup]="editForm">
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label class="body__subtext">Name</mat-label>
      <input class="body__subtext" formControlName='name' matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Surname</mat-label>
      <input formControlName='surname' matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="body__subtext">Phone</mat-label>
      <input class="body__subtext" formControlName='phone' matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="body__subtext">Email</mat-label>
      <input class="body__subtext" formControlName='email' matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label class="body__subtext">BirthDate</mat-label>
      <input class="body__subtext" formControlName='birthDate' matInput>
    </mat-form-field>
  </div>
  <button class="submit" [disabled]="!editForm.valid" mat-flat-button color="primary" (click)="submit()">
    SUBMIT
  </button>
</div>