<div *ngIf="serviceVacancy | async as vacancies">
    <div class="wrapper">
        <button (click)="onOpenDialogClick()" mat-flat-button color="primary">Add vacancy <span
            class="material-icons add">
            add
          </span>
        </button>
      </div>
    <div class="vacancy-cards" *ngFor="let item of vacancies">
        <app-card-vacancy [card]="item"></app-card-vacancy>
    </div>
</div>