<div [formGroup]="form">
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label class="body__subtext">Name</mat-label>
      <input class="body__subtext" formControlName='name' matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="body__subtext">Surname</mat-label>
      <input class="body__subtext" formControlName='surname' matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="body__subtext">Phone</mat-label>
      <input class="body__subtext" formControlName='phone' matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="body__subtext">Email</mat-label>
      <input class="body__subtext" formControlName='email' matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label class="body__subtext">BirthDate</mat-label>
      <input class="body__subtext" formControlName='birthDate' matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Origin</mat-label>
      <mat-select formControlName="originId" required>
        <ng-container *ngFor="let origin of candidateService.origins$ | async">
          <mat-option [value]="origin.id">{{origin.title}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <div *ngFor="let skillControl of form.get('skills')['controls'];let i = index" [formGroup]="skillControl">
      <mat-form-field appearance="fill">
        <mat-label>Skills</mat-label>
        <mat-select formControlName="skill" required>
          <ng-container *ngFor="let candidateSkill of candidateService.skills$ | async;">
            <mat-option [value]="candidateSkill">{{candidateSkill.title}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="deleteSkillGroup(i)">Delete skill</button>
    </div>

    <button class="submit" mat-flat-button color="primary" (click)="submit()">
      SUBMIT
    </button>
    <button mat-flat-button color="primary" (click)="addSkill()">
      Add skill
    </button>
  </div>