.header {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 1.3rem;
  align-items: center;
  color: rgb(39, 39, 39);
}

.wrapper {
  display: flex;
  align-items: center;

  &__logo {
    font-size: 1.2rem;
  }
}

.breadcrumb-text{
  color: #3f51b5;
}

.account {
  display: flex;
  align-items: center;

  &__button {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    background-color: #BFEDEB; //$btn-color
    color: rgb(39, 39, 39);
    box-shadow: 0.1rem 0.2rem 0.2rem rgba(29, 29, 29, 0.452);
    border-radius: 0.3rem;
    padding: 0.5rem 0.8rem;
    min-width: 5rem;
    margin-left: 0.5rem;
    transition: 0.2s;

    &:hover {
      cursor: pointer;
      box-shadow: 0.2rem 0.23rem 0.23rem rgba(14, 14, 14, 0.671);
      transition: 0.2s;
    }

    &:active {
      background-color: rgb(118, 146, 145);
      box-shadow: 0.1rem 0.2rem 0.2rem rgb(0, 0, 0);
      transition: 0.2s;
    }
  }
}

@media (max-width: 991px) {
  .wrapper {
    display: flex;
    flex-direction: row-reverse;
  }
}
