<header class='header'>
  <div class="wrapper">
    <div class="wrapper__logo">
      Onboarding Tracker
    </div>
    <app-menu [auth]='authIsAuth | async'></app-menu>
  </div>

  <div class="account">
    <div class="account__form" *ngIf="authIsAuth | async">
      <app-user-info></app-user-info>
    </div>
    <ng-container *ngIf="authIsAuth | async; else loggedOut">
      <button class='account__button' (click)="logout()">
        {{ 'HEADER.LOGOUT' | translate }}
      </button>
    </ng-container>

    <ng-template #loggedOut>
      <button class='account__button' (click)="login()">{{ 'HEADER.LOGIN' | translate }}</button>
    </ng-template>

  </div>
</header>

<mat-list role="list">
  <mat-list-item *ngFor="let breadcrumb of (breadcrumbs$ | async)" role="listitem">
    <a [href]="breadcrumb.url"><span class="breadcrumb-text">{{ breadcrumb.label }}</span></a>
  </mat-list-item>
</mat-list>
