<div [formGroup]="createForm">
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label class="body__subtext">Title</mat-label>
      <input class="body__subtext" formControlName='title' matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="body__subtext">Date</mat-label>
      <input class="body__subtext" formControlName='date' matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="body__subtext">MaxSalary</mat-label>
      <input class="body__subtext" formControlName='maxSalary' matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="body__subtext">Description</mat-label>
      <input class="body__subtext" formControlName='email' matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Recruiter</mat-label>
      <mat-select formControlName="recruiterId" required>
        <ng-container *ngFor="let recruiter of vacancyService.recruiters$ | async">
          <mat-option [value]="recruiter.id">{{recruiter.name}} {{recruiter.surname}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select formControlName="statusId" required>
        <ng-container *ngFor="let status of vacancyService.statuses$ | async">
          <mat-option [value]="status.id">{{status.title}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>SeniorityLevelId</mat-label>
      <mat-select formControlName="seniorityLevelId" required>
        <ng-container *ngFor="let seniorityLevel of vacancyService.seniorityLevels$ | async">
          <mat-option [value]="seniorityLevel.id">{{seniorityLevel.title}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>JobTypeId</mat-label>
      <mat-select formControlName="jobTypeId" required>
        <ng-container *ngFor="let jobType of vacancyService.jobTypes$ | async">
          <mat-option [value]="jobType.id">{{jobType.title}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <button class="submit" mat-flat-button color="primary" (click)="submit()">
      SUBMIT
    </button>
  </div>