* {
  margin: 0;
  padding: 0;
}

button {
  background: transparent;
  border: none;

  &:focus {
    border: none;
  }
}

a {
  outline: none !important;
  text-decoration: none !important;
  color: inherit !important;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}
