<div class="wrapper" *ngIf="!isDeleted">
  <mat-card class="recruiter">
    <div class="recruiter__header">
      <div class="information">
        <img class="recruiter-image" mat-card-sm-image
          src="https://images-ext-1.discordapp.net/external/2FJMJZ1-U33TbViZP-fsKICvwFxB_NHV6yKxpf2x5zM/https/icdn.lenta.ru/images/2021/04/27/16/20210427163138131/square_320_c09ebae17387b7d6eeb9fa0d42afe5ee.jpg">
        <div class="information__body">
          <mat-card-title class="information__title">
            <span class="title-text">
              {{card.name}}
              {{card.surname}}
            </span>
            <span class="material-icons verified">
              verified
            </span>
          </mat-card-title>
          <div class="description">
            <div class="part-time">
              <span class="material-icons">
                phone
              </span>
              <mat-card-subtitle class="many">
                {{card.phone}}
              </mat-card-subtitle>
            </div>
            <div class="part-time">
              <span class="material-icons">
                email
              </span>
              <mat-card-subtitle>
                {{card.email}}
              </mat-card-subtitle>

            </div>
          </div>
        </div>
      </div>
      <div class="account">
        <div class="account__image">
          <img mat-card-avatar matTooltip="Charlie Stone" matTooltipPosition="above"
            src="https://i.ytimg.com/vi/k3qbvtRYUMY/maxresdefault.jpg">
        </div>
        <div class="account__control">
          <button class="delete" mat-button color="warn" (click)="delete()">
            DELETE
          </button>
          <button class="edit" mat-flat-button color="primary" (click)="onOpenDialogClick()">
            EDIT
          </button>
        </div>
      </div>
    </div>
    <hr>
    <mat-card-subtitle>
      BirthDate: {{ card.birthDate | birthday }}
    </mat-card-subtitle>
  </mat-card>
</div>