<div class="contaner">

    <div class="card" appShadow='lightgray' defaultColor='gray'>
        <div class="header" appHighlight='lightblue'>
            <div class="header__name" *ngIf='isRecruiter'>
                <span>{{recruiter.name}}
                  {{recruiter.surname}}</span>
            </div>
            <div class="header__name" *ngIf="isVacancy" >
              <span>{{vacancy.title}}</span>
            </div>
        </div>
        <div class="wrapper">
            <div class="wrapper__img">
                <img src="https://images-ext-1.discordapp.net/external/2FJMJZ1-U33TbViZP-fsKICvwFxB_NHV6yKxpf2x5zM/https/icdn.lenta.ru/images/2021/04/27/16/20210427163138131/square_320_c09ebae17387b7d6eeb9fa0d42afe5ee.jpg">
            </div>
            <div class="wrapper__description" *ngIf="isRecruiter">
              <span>{{recruiter.phone}}</span>
              <span>{{recruiter.email}}</span>
            </div>
            <div class="wrapper__description" *ngIf="isVacancy">
              <span>{{vacancy.date}}</span>
              <span>{{vacancy.maxSalary}}$</span>
            </div>
        </div>
    </div>

</div>
