.card {
    font-family: "Poppins", sans-serif;
    border-radius: 0.42rem;
    background-color: #dbdcdd41;
    width: 16rem;
    margin: 1rem;
    height: 19.5rem;
    overflow: auto;
    transition: 0.3s;
    &::-webkit-scrollbar {
        width: 0;
    }
}

.header {
    background-color: rgba(27, 197, 189, 0.137);
    border-top-left-radius: 0.42rem;
    border-top-right-radius: 0.42rem;
    padding: 15px;

    &__name {
        color: #1bc5bd;
        font-size: 1.3rem;
        font-weight: 500;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1.4rem;

    &__img {
        margin-bottom: 20px;

        img {
            height: 10rem;
            border-radius: 0.5rem;
        }
    }

    &__description {
        color: black;
        opacity: 0.5;
        margin-bottom: 0.5rem;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.contaner {
    display: flex;
}
