.vacancy-image {
  border-radius: 0.8rem;
  margin: 0 0.6rem 0.6rem 0;
}

.verified {
  color: #1bc5bd;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.vacancy {
  padding: 2rem;
  width: 56rem;

  &__header {
    display: flex;
    //width: 50rem;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
  }
}

.information {
  display: flex;

  &__body {
    display: block;
    margin-left: 1rem;
  }

  &__title {
    display: flex;
    align-items: center;
  }

}

.title-text {
  font-weight: 900;
  margin-right: 0.4rem;
}

.part-time {
  display: flex;
  justify-content: flex-end;
}

.fmd {
  color: darkgray;
}

.description {
  display: flex;
  align-items: center;
  opacity: 0.6;

  & > div {
    margin-right: 1.5rem;
  }

  mat-card-subtitle {
    margin: 0;
  }
}

.account {
  display: flex;

  &__image {
    margin-right: 2rem;
  }
}

.delete {
  margin-right: 0.8rem;
  background-color: #f7e3e5;
  color: #db6f7b;
}

.edit {
  background-color: #5399f9;
}
.submit{
  background-color: #5399f9;
}

.body {
  padding-top: 1rem;

  &__description {
    color: darkgray;
    max-width: 33rem;
  }

  &__subtext {
    font-size: 0.9rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  }
}

@media (max-width: 769px) {
  .vacancy__header{
    flex-direction: column;
    align-items: center;
  }

}
@media (max-width: 425px){
  .information{
    flex-direction: column-reverse;
    align-items: center;
  }
  .account__image{
      margin-right: 0.5rem;
    }
  .delete{
    margin-bottom: 0.4rem;
  }
}
