<div class="wrapper" *ngIf="!isDeleted">
  <mat-card class="vacancy">
    <div class="vacancy__header">
      <div class="information">
        <img class="vacancy-image" mat-card-sm-image
             src="https://images-ext-1.discordapp.net/external/2FJMJZ1-U33TbViZP-fsKICvwFxB_NHV6yKxpf2x5zM/https/icdn.lenta.ru/images/2021/04/27/16/20210427163138131/square_320_c09ebae17387b7d6eeb9fa0d42afe5ee.jpg">
        <div class="information__body">
          <mat-card-title class="information__title">
            <span class="title-text">
              {{card.title}}
            </span>
            <span class="material-icons verified">
              verified
            </span>
          </mat-card-title>
          <div class="description">
            <div>
              <mat-card-subtitle class="many">
                ${{card.maxSalary}}
              </mat-card-subtitle>
            </div>
            <div class="part-time">
              <span class="material-icons fmd">
                fmd_good
              </span>
              <mat-card-subtitle>
                {{card.jobType.title}}
              </mat-card-subtitle>
            </div>
          </div>
        </div>
      </div>
      <div class="account">
        <div class="account__image">
          <img mat-card-avatar matTooltip="Charlie Stone" matTooltipPosition="above"
               src="https://i.ytimg.com/vi/k3qbvtRYUMY/maxresdefault.jpg">
        </div>
        <div class="account__control">
          <button class="delete" mat-button color="warn" (click)="delete()">
            DELETE
          </button>
          <button class="edit" mat-flat-button color="primary" (click)="edit()" >
            EDIT
          </button>
        </div>
      </div>
    </div>
    <hr>
    <div class="body">
      <div class="body__description">
        <mat-card-content *ngIf="!isEdit" class="body__subtext">
          {{card.description}}
        </mat-card-content>
        <div *ngIf="isEdit">
          <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input [(ngModel)]="card.title" matInput>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Max salary</mat-label>
            <input [(ngModel)]="card.maxSalary" matInput>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <input [(ngModel)]="card.description" matInput>
          </mat-form-field>

          <button class="submit" mat-flat-button color="primary" (click)="submit()" >
            SUBMIT
          </button>

        </div>
      </div>
    </div>
  </mat-card>
</div>
