<div class="recruiters" routerLink="/recruiter">
  <div class="recruiters__header ">{{ 'HOME_PAGE.TOP_RECRUITERS' | translate }}</div>
  <div class="recruiters__card"*ngFor="let item of recruiterItems">
    <app-card [inputList]="item"></app-card>
  </div>
</div>

<div class="vacancies" routerLink="/vacancies">
  <div class="vacancies__header">{{ 'HOME_PAGE.TOP_VACANCIES' | translate }}</div>
  <div class="vacancies__card" *ngFor="let item of vacancyItems">
    <app-card [inputList]="item"></app-card>
  </div>
</div>