.recruiters {
  font-size: 1.7rem;
  padding: 0.8rem;
  margin: 0.8rem 1.7rem;
  border-radius: 0.5rem 0.5rem 0 0;
  font-family: 'Poppins', sans-serif;
  color: black;
  font-weight: bold;
  background-color: #fff;

  &__header {
    border-bottom: 1px solid lightgray;
    padding: 2rem 0;
    padding-left: 2rem;
  }

  &__card {
    display: inline-block;
    padding: 2rem;
  }

}

.vacancies {
  font-size: 1.7rem;
  padding: 0.8rem;
  margin: 0.8rem 1.7rem;
  border-radius: 0.5rem 0.5rem 0 0;
  font-family: 'Poppins', sans-serif;
  color: black;
  font-weight: bold;
  background-color: #fff;


  &__header {
    border-bottom: 1px solid lightgray;
    padding: 2rem 0;
    padding-left: 2rem;
  }

  &__card {
    display: inline-block;
    padding: 2rem;
  }

}
