<div [formGroup]="editForm">
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label class="body__subtext">Title</mat-label>
      <input class="body__subtext" formControlName='title' matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="body__subtext">Date</mat-label>
      <input class="body__subtext" formControlName='date' matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="body__subtext">Address</mat-label>
      <input class="body__subtext" formControlName='address' matInput>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Candidate</mat-label>
      <mat-select formControlName="candidate" required>
        <ng-container *ngFor="let candidate of candidateService$ | async">
          <mat-option [value]="candidate">{{candidate.fullname}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Recruiter</mat-label>
      <mat-select formControlName="recruiter" required>
        <ng-container *ngFor="let recruiter of recruiterService$ | async">
          <mat-option [value]="recruiter">{{recruiter.name}} {{recruiter.surname}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Vacancy</mat-label>
      <mat-select formControlName="vacancy" required>
        <ng-container *ngFor="let vacancy of vacancyService$ | async">
          <mat-option [value]="vacancy">{{vacancy.title}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <button class="submit" [disabled]="!editForm.valid" mat-flat-button color="primary" (click)="submit()">
      SUBMIT
    </button>
  </div>