.wrapper{
  z-index: 2;
}

.nav {
  z-index: 1;
  a {
    padding: 0 0.8rem;
  }
}

.visible {
  display: none;
}

.btn {
  display: none;
}

@media (max-width: 991px) {

  .visible {
    display: inline-block;
    opacity: 0.5;
  }

  .btn img {
    height: 20px;
  }

  .nav {
    display: none;
  }

  .btn {
    display: block;
  }

  .navbar-opened:host .nav {
    position: absolute;
    display: block;
    width: 9.5rem;
    height: auto;
    flex: none;
    color: rgb(20, 20, 20);
    box-shadow: 0.1rem 0.2rem 0.2rem rgba(25, 25, 25, 0.25);
    border-radius: 0.5rem;
  }

  .nav__btn span {
    padding-right: 0.6rem;
  }

  .navbar-opened:host .nav a {
    display: flex;
    line-height: 3.5rem;
    background: #fff;
    border-top: 1.5px solid #e4e6ef;
    align-items: center;

    &:first-child {
      border-radius: 0.5rem 0.5rem 0 0;
      border-top: none;
    }

    &:last-child {
      border-radius: 0 0 0.5rem 0.5rem;
    }
  }
}
