<div [auth]='authIsAuth | async'>
    <button class="btn" (click)="toggleNavbar()">
        <span class="material-icons">
            more_vert
        </span>
    </button>
</div>
<div class="nav">
    <a class="nav__btn" href=''>
        <span class="material-icons visible">home</span>{{ 'HEADER.HOME' | translate }}
    </a>
    <a class="nav__btn" href='/vacancy'>
        <span class="material-icons visible">business_center</span>{{ 'HEADER.VACANCIES' | translate }}
    </a>
    <a class="nav__btn" href='/recruiter'>
        <span class="material-icons visible">people</span>{{ 'HEADER.RECRUITERS' | translate }}
    </a>
    <a class="nav__btn" href='/candidate'>
        <span class="material-icons visible">people</span>{{ 'HEADER.CANDIDATES' | translate }}
    </a>
    <a class="nav__btn" href='/interview'>
        <span class="material-icons visible">people</span>{{ 'HEADER.INTERVIEWS' | translate }}
    </a>
</div>