<div class="container" *ngIf="auth.user$ | async as user">
    <button (click)="switch()"><span class="material-icons">arrow_drop_down</span></button>
    <div class="container__country">  <img class='container__country' [src]="country.img"> </div>
        
    <div class="container__avatar"> <img class="container__avatar" src="https://icdn.lenta.ru/images/2020/07/15/18/20200715182212452/square_320_7bf32efb8f0102b058c808bc482362df.jpg"> </div>
    <div class="container__name visible"> {{user.name}} </div>
</div>
