.container {
    display: flex;
    align-items: center;
    &__country {
        height: 1rem;
        img {
            height: 1rem;
        }
    }
    &__avatar {
        height: 1.5rem;
        width: 1.5rem;
        margin: 0 0.8rem;
        border-radius: 50%;
    }

    &__name {
        margin: 0 0.3rem;
    }
}


@media (max-width: 991px){
    .visible{
        display: none;
    }
}
