<div *ngIf="serviceCandidate | async as candidates" class="candidate-cards">
  <div class="wrapper">
    <button (click)="onOpenDialogClick()" mat-flat-button color="primary">Add candidate <span
        class="material-icons add">
        add
      </span>
    </button>
  </div>
  <div *ngFor="let item of candidates">
    <app-card-candidate [card]="item">
    </app-card-candidate>
  </div>
</div>