<div *ngIf="serviceRecruiter | async as recruiters">
  <div class="wrapper">
    <button (click)="onOpenDialogClick()" mat-flat-button color="primary">Add recruiter <span
        class="material-icons add">
        add
      </span>
    </button>
  </div>
  <div *ngFor="let item of recruiters">
    <app-card-recruiter [card]="item"></app-card-recruiter>
  </div>
</div>