<mat-card class="interview">
  <div class="interview__header">
    <div class="header__title">
      <div class="table__title">
        <span>Interviews</span>
      </div>
      <div class="table__subtitle">
        Over 500 new interview
      </div>
    </div>
    <mat-card-actions class="header__btn">
      <button (click)="onSumbit()">+ New Member</button>
    </mat-card-actions>
  </div>
  <mat-card-content>
    <table mat-table [dataSource]="interviewList$" class="interview__table">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Vacancy</th>
        <td mat-cell *matCellDef="let element">
          <div class="table__vacancy">
            <img class="interview-image"
              src="https://telecomdom.com/wp-content/uploads/2020/02/kartinki-na-telefon-5-576x1024.jpg">
            <div>
              <div class="table__title">
                {{element?.vacancy?.title}}
              </div>
              <div class="table__subtitle">
                {{element?.vacancy?.jobType?.title}}
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="recruiter">
        <th mat-header-cell *matHeaderCellDef>Recruiter</th>
        <td mat-cell *matCellDef="let element">
          <div class="table__title">
            {{element?.recruiter?.name}}
          </div>
          <div class="table__subtitle">
            {{element?.recruiter?.birthDate}}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Time</th>
        <td mat-cell *matCellDef="let element">
          <div class="table__title">
            {{element?.date}}
          </div>
          <div class="table__subtitle">
            {{element?.address}}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="candidate">
        <th mat-header-cell *matHeaderCellDef>Сandidate</th>
        <td mat-cell *matCellDef="let element">
          <div class="table__title">
            {{element?.candidate?.fullname}}
          </div>
          <div class="table__subtitle">
            {{element?.candidate?.origin?.title}}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="salary">
        <th mat-header-cell *matHeaderCellDef>Salary</th>
        <td mat-cell *matCellDef="let element">
          <div class="table__title">
            {{element?.vacancy?.maxSalary}}$
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="btns">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div class="table__title">
            <button (click)="onEdit(element)" mat-flat-button class="table__btn">
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="onDelete(element.id)" mat-flat-button class="table__btn">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>