.interview {
  font-family: 'Poppins', sans-serif;
  padding: 2.1rem 2.5rem;
  margin: 2rem 5rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__table {
    font-family: 'Poppins', sans-serif;

    td{
      padding: 1.1rem;
    }
    th {
      padding: 0.8rem 1.1rem;
    }

    td:first-child {
      padding-right: 5.5rem;
      padding-left: 0;
    }
    tr.mat-header-row{
      height: auto;
    }
    td:last-child {
      padding-left: 7.5rem;
      padding-right: 0;
    }
  }
}

.table__btn {
  margin-left: 0.2rem;
  background-color: rgba(228, 230, 239, 0.5);
}

.table__title{
  span{
    font-size: 1.2rem;
  }
}

.table__subtitle {
  color: darkgray;
  font-size: 0.7rem;
}

.material-icons {
  font-size: 1rem;
  color: grey;
}

.mat-flat-button {
  min-width: 1.5rem;
  padding: 0rem 0.4rem;
}

tr.mat-header-row {
  background-color: rgba(228, 230, 239, 0.5);

}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  border: none;
}

.mat-header-cell {
  font-weight: 600;
  font-size: 0.9rem;
}

.interview-image {
  border-radius: 0.6rem;
  margin-right: 0.6rem;
  width: 3rem;
}

.table__vacancy {
  display: flex;
  align-items: center;
}
.header__btn button{
  background-color: #effafd;
  color: #62b6ec;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  margin-right: 0.6rem;
}

